//------------------------------------
// Imported File
//------------------------------------

@import 'variable';
@import 'global-styles';



//-------------------------------
// Start Header Section
//-------------------------------

header {
	.logo {
		color: #0a66c2;
	}

	
	nav {
		a {
			.link {
				font-size: 14px;
				color: $light-grey;
			}
			.icon {
				svg path{
					color: $light-grey !important;
				}

				img {
					width: 25px;
					border-radius: 100%;
				}
			}
		}
	}
}


//------------------------------
// Start Left Sidebar
//------------------------------

.short-profile {
	overflow: hidden;

	li {
		a {
			padding: 3px 20px;
			font-size: 12px;
			font-weight: 500;
			color: $light-grey;

			span.t {
				display: block;
				color: $text-color;
			}

			.number {
				color: $brand-primary;
				font-weight: 500;
			}
		}
	}

	.profile-bottom {
		padding: 15px 20px;
		font-size: 12px;
		font-weight: 500;
	}
}

.link-lists {
	overflow: hidden;
	ul {
		padding: 10px 20px;

		a {
			color: $brand-primary;
			font-weight: 500;
			font-size: 12px;
			margin-bottom: 5px;
			margin-top: 5px;

			&:hover {
				text-decoration: underline;
			}

			.icon {
				svg {
					color: $light-grey;
				}
			}
		}
	}

	.link-list-bottom {
		padding: 10px 20px;
		display: block;
		text-align: center;
		font-size: 12px;
		font-weight: 500;
	}
}



//-------------------------------
// Start News Feed Section
//-------------------------------

.write-post {
	.input-box {
		.icon1 {
			svg {
				color: $light-grey;
			}
		}
		.input-field {
			color: $light-grey;
			font-weight: 500;
		}
	}
	.post-type {
		.icon2 {
			svg {
				color: #70b5f9;
			}
		}
		.icon3 {
			svg {
				color: #7fc15e;
			}
		}
		.icon4 {
			svg {
				color: #70b5f9;
			}
		}
		.icon5 {
			svg {
				color: #f5987e;
			}
		}
	}
}
.news-feed {
	.news-feed-header {
		.user-img {
			img {
				width: 50px;
				height: 50px;
			}
		}
		.user-details {
			h5 {
				font-size: 14px;
				font-weight: bold;
				a:hover {
					text-decoration: underline;
					color: $brand-primary;
				}
			}
			.work {
				font-size: 12px;
				color: $light-grey;
				margin-top: -3px;
			}

			.post-time {
				font-size: 12px;
				color: $light-grey;
				margin-top: -3px;
			}
		}
	}

	.reactions {
		margin-top: 5px;
		img {
			width: 16px;
			height: 16px;
		}

		a {
			&:hover {
				text-decoration: underline;
				color: $brand-primary;
			}
		}
	}

	.feed-footer {
		color: $light-grey;
		.icon {
			svg {
				color: $light-grey;
			}
		}
	}
}



//-----------------------
// Start Right Sidebar
//-----------------------

.widget {
	margin-bottom: 10px;
	h4 {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 20px;
	}
}

.people-suggestion {

	.people-list {

		.suggested-people {
			
			img {
				width: 50px;
				height: 50px;
				margin-right: 10px;
			}

			.people-details {
				h5 {
					font-size: 14px;
					font-weight: 500;
				}
				.post {
					font-size: 12px;
					color: $light-grey;
				}

				.follow-btn {
					border: 2px solid $text-color;
					border-radius: 30px;
					display: inline-block;
					padding: 4px 20px;
					font-weight: 500;
					color: $light-grey;
					font-size: 16px;
					margin-top: 5px;
					&:hover {
						background-color: rgba($color: #000000, $alpha: 0.08);
					}
				}
			}
		}
	}

	.recommendation {
		color: $light-grey;
		font-weight: 500;
		margin-top: 20px;
		display: inline-block;
		padding: 2px 4px;
		border-radius: 3px;
	}
}

.suggested-courses {

	.course-list {
		a {
			display: block;
			padding-top: 4px;
			padding-bottom: 4px;

			.title {
				font-weight: 600;
				font-size: 14px;
			}

			.instructor {
				padding-left: 13px;
				color: $light-grey;
				font-size: 12px;
			}
		}
	}

	.recommendation {
		color: $light-grey;
		font-weight: 500;
		margin-top: 20px;
		display: inline-block;
		padding: 2px 4px;
		border-radius: 3px;
	}
}

.sidebar-links {
	ul {
		text-align: center;

		li {
			display: inline-block;
			padding: 5px 20px;

			a {
				color: $light-grey;
				font-size: 12px;
				&:hover {
					color: $brand-primary;
					text-decoration: underline;
				}
			}
		}
	}

	.copyright {
		.icon {
			svg {
				fill: #0a66c2;
			}
		}
		p {
			font-size: 12px;
		}
	}
}
