body {
  background-color: #F3F2EF;
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
  line-height: 20px;
  overflow-x: hidden;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  transition: all 0.3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  outline: 0;
}

::selection {
  background: #0a66c2;
  color: #fff;
  text-shadow: none;
  outline: none;
}

@media (min-width: 1280px) {
  .container {
    max-width: 1128px;
  }
}
header .logo {
  color: #0a66c2;
}

.short-profile li a span.t {
  color: rgba(0, 0, 0, 0.9);
}
.short-profile li a .number {
  color: #0a66c2;
}

.link-lists ul a {
  color: #0a66c2;
}

.write-post .post-type .icon2 svg {
  color: #70b5f9;
}
.write-post .post-type .icon3 svg {
  color: #7fc15e;
}
.write-post .post-type .icon4 svg {
  color: #70b5f9;
}
.write-post .post-type .icon5 svg {
  color: #f5987e;
}

.news-feed .user-details h5 a:hover {
  color: #0a66c2;
}
.news-feed .reactions a:hover {
  color: #0a66c2;
}

.people-suggestion .follow-btn {
  color: rgba(0, 0, 0, 0.6);
}

.sidebar-links a:hover {
  color: #0a66c2;
}
.sidebar-links .copyright .icon svg {
  fill: #0a66c2;
}